<div>
  <datalist id="list-hours">
    <option value="24" />
    <option value="16" />
    <option value="8" />
  </datalist>
</div>
<div class="form_wrapper">
  <%= form_with(model: task) do |form| %>
    <div class="flex1 h_full">
      <div class="button_wrapper">
        <%= form.check_box :finished, disabled: task.new_record?, onchange: update_task(task) %>
      </div>
      <div class="flex_v text_container">
        <div>
          <%= form.text_field :title, class: "title", onchange: update_task(task) %>
        </div>
        <div>
          <%= form.text_field :note, placeholder: "Note", class: "note", onchange: update_task(task) %>
        </div>
      </div>
      <div class="flex_h numbers_container">

        <div class="estimate_hours number">
          <%= form.label :estimate_hours, "予定時間", style: "display: block" %>
          <%= form.number_field :estimate_hours, step: 0.25, min: 0, onchange: update_task(task) %>
        </div>

        <div class="actual_hours number">
          <%= form.label :actual_hours, "実績時間", style: "display: block" %>
          <%= form.number_field :actual_hours, step: 0.25, min: 0, onchange: update_task(task) %>
        </div>

        <div class="number">
          <%= form.label :priority, "優先度", style: "display: block" %>
          <%= form.number_field :priority, onchange: update_task(task) %>
        </div>

      </div>
      <% if task.new_record? %>
        <div class="button_wrapper">
          <%= form.submit class: "button" %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<% unless task.new_record? %>
    <%= button_to "削除", task, method: :delete, class: "button delete" %>
<% end %>
