<div id="<%= dom_id task %>">
  <p>
    <strong>Title:</strong>
    <%= task.title %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= task.note %>
  </p>

  <p>
    <strong>Estimate hours:</strong>
    <%= task.estimate_hours %>
  </p>

  <p>
    <strong>Actual hours:</strong>
    <%= task.actual_hours %>
  </p>

  <p>
    <strong>Finished:</strong>
    <%= task.finished %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= task.priority %>
  </p>

</div>
