<p style="color: green"><%= notice %></p>

<h1><%= t("activerecord.models.task") %></h1>

<%# Form for new %>
<%= form_with(model: @task, data: { controller: "tasks", action: "turbo:submit-end->tasks#reset"}) do |form| %>
  <div class="button_wrapper">
    <%= form.submit class: "button" %>
  </div>
<% end %>

<%# Forms for edit %>
<div id="tasks">
  <% @tasks.each do |task| %>
    <%= render "task_unit", task: task %>
  <% end %>
</div>

